<div class="user-login">
  <div class="main-wrapper">
    <div class="user-info">
      {% if user.image %}
        <div class="user-image">
          {{ user.image }}
        </div>
      {%  endif %}
      {% if user.name %}
      <?php if (isset($user['name'])): ?>
        <div class="user-name">
          <span>{{ user.name }}</span>
        </div>
      {% endif %}
    </div>

    <div class="user-settings">
      <div>
        {% trans %}
          Settings
        {% endtrans %}
      </div>
    </div>
  </div>
</div>